.login-container {
    display: flex;
}
.login-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 2%;
    background-color: #656865;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 7px;
}

.input-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 15px;
    border-radius: 7px;
}

.input-button {
    border: 0;
    width: 100px;
    background-color: #131921;
    color: aliceblue;
    cursor: pointer;
}

.input-button:hover {
    background-color: #a7a1a2;
}
